body {
  overflow-x: hidden;
}
.topbar {
  width: 100%;
  height: 280px;
  background-color: #171a29;
  color: #fff;
  margin-top: 90px;
}
.topbar_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.food_overview {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 15px;
}
.food_img_topbar img {
  width: 280px;
  border-radius: 2px;
  object-fit: contain;
  position: relative;
  top: 20px;
}
.food_details_section {
  position: relative;
  right: 120px;
  top: 35px;
}
.heading {
  position: relative;
  top: 6px;
  font-size: 28px;
  font-weight: 400;
  color: white;
}
.cuisines,
.hotel_location {
  position: relative;
  bottom: 36px;
  font-size: 13px;
  font-weight: 400;
  color: gray;
}
.hotel_location {
  bottom: 41px;
}
.offer_img {
  width: 300px;
  position: relative;
  top: 74px;
  right: 50px;
}
.food_overview p {
  font-size: 12px;
  line-height: 1.7em;
  letter-spacing: 0.3px;
}
.food_rating {
  border-right: 1px solid lightgray;
  padding-right: 20px;
}
.food_timing {
  border-right: 1px solid lightgray;
  padding-right: 20px;
  padding-left: 20px;
}
.food_timing p
{
  letter-spacing: 1px;
}
.food_pricing {
  padding-left: 20px;
}
.food_products_card {
  min-width:550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 10px;
  height: fit-content;
  border-bottom: 1.5px solid lightgray;
  padding-bottom: 40px;
  padding-top: 40px;
}
.food_products {
  max-width: fit-content;
  margin: auto;
  text-align: left;
  padding-top: 25px;
}
.veg_logo img {
  width: 24px;
}
.product_title {
  letter-spacing: 0.3px;
  font-weight: 500;
  font-size: 15px;
}
.product_price {
  font-size: 13px;
  position: relative;
  bottom: 10px;
  font-weight: 500;
  letter-spacing: .5px;
}
.title {
  font-size: 18px;
}
.itemCount {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  bottom: 15px;
}
.food_img img {
  width: 140px;
  height: 95px;
  border-radius: 5px;
}
.add_cart {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 2px;
  font-family: Arial;
  color: #1dcc2e;
  font-size: 13px;
  background: #ffffff;
  padding: 7px 30px 7px 30px;
  border: solid #ced9cf 1.4px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  bottom: 15px;
  left: 30px;
}

.add_cart:hover {
  text-decoration: none;
}
.side_section {
  position: absolute;
  top: 410px;
  left: 200px;
  margin: 0;
  text-align: left;
  width: 230px;
  word-wrap: break-word;
  letter-spacing: .8px;
  line-height: 1.5rem;
  border-right:1px solid lightgray;
  height: 100vh;
}
.side_section_filters {
  margin-top: -8px;
  cursor: pointer;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.side_section_filters_recommend {
  cursor: pointer;
  font-size: 13.5px;
  font-weight: 500;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.cart_empty {
  max-width: 270px;
  text-align: left;
  margin: 0;
  position: absolute;
  top: 388px;
  right: 120px;
}
.empty_cart {
  font-size: xx-large;
  font-weight: bold;
  color: gray;
  padding-bottom: 15px;
  letter-spacing: 0.2px;
}
.empty_cart_img {
  width: 100%;
  object-fit: contain;
  padding-bottom: 20px;
}
.empty_cart_para {
  font-size: 15px;
  color: lightgray;
  word-break: break-word;
  letter-spacing: 0.5px;
}
.active_filter {
  color: #fc8019;
  border-right: 3px solid #fc8019;
  font-weight: 600;
  padding-right: 35px;

}
.modal_window{
  display: flex;
  align-items:center;
  justify-content: space-between;
  border-radius: 8px;
  gap: 30px;
  background-color: whitesmoke;
}
.food_img_modal img{
  width: 300px;
  border-radius: 8px;
}
.fa-check{
  color: #1dcc2e;
}
.modal_description{
  color: grey;
  text-align: left;
}
#transition-modal-title{
  word-wrap: break-word;
  width:max-content;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}

.veg_logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 11px;

  font-weight: bold;
}
.veg_logo .best_seller{
  color: #fc8019;
}
.card_left_div{
  width: 300px;
  word-break: break-word;
}
.product_descrip{
  font-size: 13.5px;
  font-weight: 400;
  color: gray;
}


.item_added{
  width: 300px;
  border-radius: 4px;
  position: absolute;
  top: 400px;
  right: 90px;
  padding: 0 25px 15px 25px;
}
.items_div_parent{
  max-height: 200px;
  overflow-y: auto;
  padding-top: 10px;
}
.items_div_parent::-webkit-scrollbar {
  width: 0;
}
.header{
  font-size: xx-large;
  font-weight: 600;
}
.no_items{
  font-size:13px ;
  font-weight: 600;
  color: gray;
  position: relative;
  bottom: 20px;
  left: 5px;
  letter-spacing: .3px;
}
.items_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 18px;
}
.logo_veg_nonVeg{
  width: 24px;
}
.product{
  font-size: 14px;
  position: relative;
  right: 9px;
}

.decrease{
border: none;
padding: 4px 13px;
font-size: 17px;
cursor: pointer;
border-left: 1px solid #1dcc2e;
border-top: 1px solid #1dcc2e;
border-bottom: 1px solid #1dcc2e;
position: relative;
left:18px

}
.increase{
border: none;
padding: 4px 13px;
font-size: 17px;
cursor: pointer;
border-top: 1px solid #1dcc2e;
border-right:1px solid #1dcc2e;
border-bottom: 1px solid #1dcc2e;
position: relative;
right:18px
}
.value{
  min-width: max-content;
  border-top: 1px solid #1dcc2e;
  border-bottom: 1px solid #1dcc2e;
  padding: 3px 8px 3.3px 8px  ;
}
.price{
  font-size: 15px;
  font-weight: 500;
}
.sub_total{
display: flex;
align-items: center;
justify-content: space-between;
}
.header_1{
  font-size: 14px;
}
.header_1 h2{
  font-weight: 500;
}
.header_1 p{
  font-weight: 300;
  font-size:12px;
  position: relative;
  bottom:10px
}
.total_price_1{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .6px;
}
.checkout {
  text-shadow: 3px 3px 8px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #60b246;
  padding: 18px 80px 18px 80px;
  text-decoration: none;
  border: none;
  text-align: center;
  position: relative;
  left: 10px;
  top: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.checkout:hover {
  text-decoration: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.scroll-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 5px;
  }
.scroll-container .indicator{
height: 100%;
background: #fc8019;
}